*  {
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  padding: 0;
  margin: 0;
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
}

.ticket-wrapper {

}

.container {
  width: 320px; 
  margin-left: auto;
  margin-right: auto;
}

.ticket-box {
  width: 400px;
  height: 450px;
  background-color: white;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.ticket-box-head {
  display: flex;
  text-align: center;
}

.ticket-box-head-left {

}

.fra-ams {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 900;
  font-size: 40px;
  color: rgb(15, 103, 175);
  margin-top: 50px;
}

.ticket-box-head-line {
  width: 40px;
  height: 5px;
  border-radius: 5px;
  background-color: rgb(162, 208, 247);
  border-color: transparent;
  margin-top: 75px;
}

.frankfurt-amsterdam {
  color: rgb(139, 139, 139);
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
}

.ticket-box-info {
  display: flex;
  align-items: center;
}

.info {
  margin-top: 40px;
  margin-right: 60px;
}

.info-kind {
  text-transform: uppercase;
  color: rgb(139, 139, 139);
  font-size: 16px;
  font-weight: 500;
}

.info-item {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 700;
}

.footer-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-left {

}

.footer-left-info {
  margin-top: 20px;
}

.airport {
  font-size: 16px;
  font-weight: 700;
  color: rgb(139, 139, 139);
  text-transform: uppercase;
  margin-top: 15px;
}

.passanger {
  font-size: 16px;
  font-weight: 700;
  color: #222;
  margin-top: 15px;
}

.footer-right {
  margin-top: 20px;
}

.footer-right-img {
  margin-right: 40px;
}